In [1]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import numpy as np 
import os 
import pandas as pd
import nltk
import seaborn as sns
import warnings
from textblob import TextBlob
import os
import json
import gzip
import ast

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
place_df = pd.read_csv('/content/gdrive/Shareddrives/RS/LA02/Places/Final_places.csv', sep=',', engine='python')

In [5]:
place_df.head()

,Unnamed: 0,Unnamed: 0.1,name,address,hours,phone,closed,gPlusPlaceId,gps
0,0,0,Diamond Valley Lake Marina,"['2615 Angler Ave', 'Hemet, CA 92545']","[['Monday', [['6:30 am--4:15 pm']]], ['Tuesday...",(951) 926-7201,False,104699454385822125632,"[33.703804, -117.003209]"
1,1,2,Portofino,"['ул. Тутаева, 1', 'Nazran, Ingushetia, Russia...","[['Monday', [['9:30 am--9:00 pm']]], ['Tuesday...",8 (963) 173-38-38,False,109810290098030327104,"[43.22776, 44.762726]"
2,2,3,T C's Referee Sports Bar,"['5322 W 26th St', 'Sioux Falls, SD 57106']","[['Monday', [['11:00 am--10:00 pm']]], ['Tuesd...",(605) 361-2208,False,100327153115986850675,"[43.529494, -96.792244]"
3,3,4,Carrefour - Palembang Square,"['Jl. Angkatan 45', 'Kompleks Palembang Square...","[['Monday', [['8:00 am--9:00 pm']]], ['Tuesday...",(0711) 359918,False,103368487323937936043,"[-2.976256, 104.742662]"
4,4,9,Old Chicago,"['17960 NW Evergreen Pkwy', 'Beaverton, OR 970...","[['Monday', [['11:00 am--1:00 am']]], ['Tuesda...",(503) 533-4650,False,118222137795476771294,"[45.535176, -122.862242]"

In [14]:
places_name=place_df[['gPlusPlaceId', 'name']]

In [17]:
places_name.to_csv("/content/gdrive/Shareddrives/RS/LA02/places_name.csv")

In [18]:
places_name.shape

(1294778, 2)